@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@foreach (var name in ViewBag.adminName)
{
    <h4>@name</h4>
}

<p>Use this area to provide additional information.</p>
