<div class="form-horizontal">

    <div class="form-group">
        <div class="col-md-12">
            <input type="text" name="fullName" class="form-control" placeholder="Họ Tên" id="txtFullName" />
            <p class="help-block text-danger" style="color: red; margin-bottom: 0 !important" id="error-txtFullName"></p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <input type="email" name="email" class="form-control" placeholder="Email" id="txtEmail"/>
            <p class="help-block text-danger" style="color: red; margin-bottom: 0 !important" id="error-txtEmail"></p>

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <input type="text" name="username" class="form-control" placeholder="Tài Khoản" id="txtUserName"/>
            <p class="help-block text-danger" style="color: red; margin-bottom: 0 !important" id="error-txtUserName"></p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <input type="password" name="password" class="form-control" placeholder="Mật Khẩu" id="txtPassword" />
            <p class="help-block text-danger" style="color: red; margin-bottom: 0 !important" id="error-txtPassword"></p>

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <input type="password" name="password-confirm" class="form-control" placeholder="Xác Nhận Mật Khẩu" id="txtPasswordConfirm" />
            <p class="help-block text-danger" style="color: red; margin-bottom: 0 !important" id="error-txtPasswordConfirm"></p>

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <input type="number" name="phoneNumber" class="form-control" placeholder="Điện Thoại" id="txtPhoneNumber" />
            <p class="help-block text-danger" style="color: red; margin-bottom: 0 !important" id="error-txtPhoneNumber"></p>

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <input type="text" name="address" class="form-control" placeholder="Địa Chỉ" id="txtAddress" />
            <p class="help-block text-danger" style="color: red; margin-bottom: 0 !important" id="error-txtAddress"></p>

        </div>
    </div>
</div>

