USE [SPM_URD]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Professors_Administrator]') AND parent_object_id = OBJECT_ID(N'[dbo].[Professors]'))
ALTER TABLE [dbo].[Professors] DROP CONSTRAINT [FK_Professors_Administrator]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_Professors_avatar]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Professors] DROP CONSTRAINT [DF_Professors_avatar]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_Professors_Status]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Professors] DROP CONSTRAINT [DF_Professors_Status]
END

GO
/****** Object:  Table [dbo].[Professors]    Script Date: 05/05/2017 1:18:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Professors]') AND type in (N'U'))
DROP TABLE [dbo].[Professors]
GO
/****** Object:  Table [dbo].[Professors]    Script Date: 05/05/2017 1:18:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Professors]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Professors](
	[Id] [int] IDENTITY(1000,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Username] [varchar](20) NOT NULL,
	[Password] [varchar](32) NOT NULL,
	[PhoneNumber] [varchar](11) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[avatar] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Professors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Professors] ON 

SET IDENTITY_INSERT [dbo].[Professors] OFF
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_Professors_Status]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Professors] ADD  CONSTRAINT [DF_Professors_Status]  DEFAULT ((0)) FOR [Status]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_Professors_avatar]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Professors] ADD  CONSTRAINT [DF_Professors_avatar]  DEFAULT (0x89504E470D0A1A0A0000000D49484452000000D7000000D70803000000BEA33487000002FA504C5445B4AEA43D3C3A2E2E2E4242424040403D3D3D3F3F3F4141413B3B3B3939393737372222223A3A3A3434343030306B68637D79733C3C3C2A2A2A3433328F8B83363636282828464542A19C9326262673706B32323298938B605E5924242458565287827BABA69C2C2C2C4F4D4A2727262323233333339C968E49494963636361524A7B7872957B6DF0C1A82E2B29554943C9A28D3B3430A28575897165E4B79FD6AC96BC9986B88E79473E397B695A705E54C59882866B5CEDBA9FEBB69BA07B6ADEA98FEEBCA2EAB3976D584D6B6864EEBEA3837F7954463ED1A088927363EFBFA54B4A4853514F796155EAB398EFC0A6E8AF93E5AA8DE09E7FDB9372E3A486EDBBA1D4815DAB8572DF9979CC7049C7653CC96A42D17C57D68763EAB59ACE7650D88D6A464646CF7852D78A67E8AF92DF9C7CCB6E47E1A080C96941E7AE91D585613B3A3AE5A98BE4A587CD734DE9B195E3A485E6AA8DB7A090BF80634B3425ECB89D9D5435C27756B89B8AC569426A3F2D433025875B42B6A497E7AC8FBD8E76EDCEC2F2D8CE8F6B5A7247308258395F3724432C1E3D281C745B3D644C32E5E4E3FFFFFFEAC4B7DC9574FCF5F28578716C5539623925D8BDB1C17B5CD89578F2F1F168523670573A60493191867FE3B29DCA6E48E7BCAACFCAC759432DDEA086F4E2DA523B2D785E3EFAEDE6C46F4AB6AA9E7A6141F5F5F5998D83D9D7D5B65F3B816543F6DDCFFEFBF99D9186FDF7F4EDC1AAF3D0BDF8E2D7F2CBB7FCF2EDA39E95F1C6AFF3D4C4C5BFB7AA9881A38E74F9E8DFB2A392F1C8B2E1AA92F5D7C7BF8469BD8970F0C2A9E4A689CD9980B99783B47B61DA906FBB927DD78966CA6D45B8B3A9BDB8AFDDDBD9FBFBFBEBEAEAD4D1CBC8C8C7DFDFDE5A5A59938F876666668B8780434242B2B2B25B5B5B4F4F4F61605F4C4C4C595959A8A8A8CFCFCF565656626262939393BDBDBD5F5F5F5252527A7A7A5151519D9D9DD4D4D46464645353535454545E5E5E878787F59B9EED444AF0696EFACDCEF6A7AAEC383EFCE6E6717171FBD9DAEE5056EE8F92EC5D62DF8588F37F8382828211C320C700001A5B494441547801C4D8095E833A108071CB24C024217D491B2AA2A8E9F256DCF7FB1FECD1122C96E2D242FD9FC0EF179C4C73B4B381073F42A80F4E10628571010512C10A919C0F8F7ED51F9CC2CE143A51D9058A4149693E1AFF6AD8C883FDC398EB02A3C011319F1CFFEA8129D81DC59590332845042A2CD127BF1836D0B00722702949C191B096F2C1E96163CE26E323E754A7B0874061417BE09014D65472E0F93189B3D1F9C5F872AF2FD1F1115126E0B8A1E810CBCF2F0FD9253DA9335E4A1202FB084264B5B14A2481358F4F0FD9E511C9D0515E4C602F546809AD61E707ECD2E07B069DD0660AF642A2046A364F6C32393B3D4C57060046A2234C62603F02EA52556B8E796A67F3C121EEE929A70040E5021D0ADD8A6A61826BC428D17FF4DF357417A95AA4C67D8B043AC528BCD3DC20B2F80033FF82A7E010DF983E8E4C30A8182EB160FBDFAC2EB9861A4AFC02814E29060EE1312E2DE6FAA4E7DB6CC009F44D0870E20C57989DF73CF44FB8817ED59760CDB144FF3CEAD731B7D0BF74A34B0E0F30E9096CA554F75FA29EBB2E3E3DEEF7B8C6273C85ED52029D895CD70C4B72CE079361E73FCBC6E393E17432E2596C1771DBB64B6477610656328B0EB3D6A6C3AE6FAD014FB4E72D1816CC5CC276544257A8828272DB7EE08758B8E861CFC852A58CC025CB056CA73CE80A8182D15009A898F4F39C1101086622446CFFDD650C2C053F4FF85A202FFA081B97A74419C3686E618D424DB40AA3F447654AF9DFEAF78E7B3931774A840A39F76A295013E86558205011F83E1FC577D24C3F3BC799058744DC23E0500335BE3400401031F47FF42280A82881CF25A7BDECBCA3082A228B153829D4A95518456CFD4B7D4AA91FB4BC940A450B2D8166DACFA5AC155488E629DD7660014AAFFE7752B2ED700A615804AC7F0D9010D77CD82E393EEAEF5FCC619A5B439B8B868F910D0004BE0B378F47E11768CB9C94671DD69C0E87C3B15B0E2DD4A854A7E5A0823A85CCA310B8B07A1D6986B577050A1A94EEF2F33B1F713E3A5D8D0ECF1268620C6A96450B6C86555FDF92F8BA4B09684A2E3A9D18675EB6DAA8FF021DD32F575E8288C61017B60B0A4010FD1E3F44E76F22333EB900A03613D024EB616E1AFA81D8A34B2086D0C0065D5F5E40D384A700B898A7B029A0D196C1A048B87397DA3E1609BFECF8F23A879240338B056C08C5C7B0324810BA63978F2B016C8AC75DCEF7E964C2D8FA28E4DCA38D4D48928DD9B14477098B923996146CB2C3EEB2CE39D73AE1B42C70EF439E803A8128D59630A4027FC89BFF93B43E27A7E75DFE5AFEF743812BD366635444D8D82A0A22C49F8862FE5F7EC5DAC2D8E4A84BD3FA27576272C63D46AA0C2C9888D6C2143AE177CB16D2CEF8F54D9EFF23B142E0031177DA956ECE049716739DA6291342286C9451ACB0D632268B98955996C519BFBDCB0BFF696C0953BCD36928A1447C4A15D688D135779259214EB44EAB3822B0C4626BB0DD62455ACEEF1FF2A587396B5B8279972FA4E3B4EAC28FA2C9639E3F3D3DDFFF73FDEE65D9E831416AFF64B8C8122B196EE78EFEEAF53177DE3C6C09E35DFE063B49B76FACF22DDFE2F1E9BFD521C65AA6D1A2A2B32237B60B6C5A7831E72F770FF9BB9B8CE11AE9AB6B18C1B603D3FFE5AD9E9EEEAB437CE175F3D9CC5A2B178E6767BC887ABDC93FB8B758437AEA9A886DC340DFE5DFF754F8EFFEFEFE6D33F4EAEDEE316F7A318DB0EEBB06A279E1B2D865EDE6A97493B778F45823ACF32E2EC021B4EAD2F779AFEE12AC0B7AE952EBF764C7BEE53DBBD7582382EEBBC6DC6D466BF2E521EFDBDB87B010965476D475577DC69BAB9BBC770FD7B6F1982374A78FF39B333EB9CB0FE0E1C5C31AD275D7906F6C86F63A3F88C72B89151A40C1B02EBBF4C74BD9CC1FF3C3F89F78BB4A8B188801000C5B85746D702AB8FB0BB69E75BDFF6D90A129ED7BBECCDCE0AF44DB06548A1D66C839F28D55B1A73A6FB6845CEDCE455947439AADB2BAF694563954CE3D767B42AE16F6298DE9D9BD170EB85D6ED6D09F377128E6EABEA85CACB7D521A7EB941EC1F47689B97A886F50C9457A35E27485F9B6FEBC8FF820748688384E363396A522669765A59561191AB2AE09E82C16E8D237B9E276516D78FA8EB22E1C27DAA557B56A8DF14098EBBB92A9A06BF6EBEAC00E2531BBC2ECCA58159820B61FA4CEAFAB0BA56C1B3167766535947A4769178E15858D60C1EDA23EF9622AEF6A9E53D82857995D541C5E4243DE35FD75F9BFB0F08ED3B5FEFF1C9E02CABBDE12FAF43BDCE6FD2B259B6A9C8F4DB8CEB37283D715DAE482A501576387DA4A75C2EBA2D66B07A626EED7A95E5773A66572597E1A36DE4CB93602D7B212769793868D8609D73915BEC0BBD52BD92EB9D09CCBB7985D55454D8A19D7E4CFE5F1BBDCA26B25EB42A03A8ADBE5155D68C265B3BB8E0FACC0B82BB0D85DDB6039465D2F97E97C9EDDE5A6331BE88ABABE99390BF7368EB481070B914BFECADC34F0D1048E028F2993D339D53DB177B5DACDE6D56ABDA7C4829C243BA030B3B3B1CB0DB39D32BA75CACC4C7FD0EDBCAB9564903B2B6D2CFF1E284EED9FE6A519CDD300459A2DAFA99E7BE1F744B6D70D765FA6ADC441102D82924D501405329860880C4156E4217F431445294748B49089837F88D77F79EC55E3CCF3BE1594E12788ACAE84E184B5886588BF9C2C8142869A82A6138660D9686D3002117DB0D7FF4EB7BD1EBEC35BAF89B73909767B5DC14B96C2301A6D9A16060891A1840134FC47A541F582575DCEABC6F1F27CF09DB434EF25B601070A19460838084B782F7A75BD1E98E4BCF7BA6DFE326A514F88043C1832194E300C1C6832BBC74656CCB05FA7FC0BBDBC6CCCF96F2BEF5A805EB2068CE82A555C6D21B6B7B71BAB2CA21631C8132123221489B1150A5B6AFD27E2AB19F1555A02B74C70BC16E4BC1E78D8EB87F3F90BC419E89564311835D06938E88988A48458BBCDEA52B4AF616A62CE6BD94C3B0EFF8DD736DE7EC17C6D91572A060925BD9A0352028EA55206204E6D7CB6D7F51E7A213E7C21ED7825333109B7AA7CAF0E9EC57125D1499185D3EC3AEFB5576D8D93603328A58AAAAF46CAF76AE15AADAF5592B9C68C5E1E5E47AD5B0F161B6E701E8AFA284D514AB37C5A1DA4045CEB8500FE308BA5B6D79C8D00B0699D075A9BB700632BBBF1CD79211C81C468212508F0ACAE273447DD24F4DAC6BC60CBE6CABD36012892246DAF755E2CCFA788DF2F0C2960AB062139BF592958248B43D6A4876AF9698EC6E9E8E593244901D854B1D60E00155F9FDDE5BCB769CE79117F61C7D25118466C4D9C0512294560A7A48DB06A552184979082D702F4BACF472C54801D957AED82B08C2F5F7CB997D8D3725E3221816C6ECBD64477EFD9BB6FFFFE03070E1C3CB4E170D7A123A6791432AA14F797DE2E51ED06A5C7341FDDF058D7A1431B0E1CD8B77DFFE34FEC698AC59913D571A7E5BCD70CFC96682EFECD30ECAAD4EB49D00832A7C64EB059CB2962075860899CEDCC3CD5633EBDED9963DB0E21C78F1D3F619AE649304A5A2172F8548F890B0F1E42BA0EB385BB4FADAA0F149E0338CC60F3C614F4221A3C59797A4904993BCD4EB0597514C9921CA1CC69CBE2CC59F6A9231B0E3FB6D8B4380722190DEDD479B6F04261E1C563CBADBF73C9289CCFB283BDEEF9336148952758AFE3F5E77B30C1F25E0DC44655CE9BB6579F39DBF9F5169928A69151104FE5165E7EF6E90D83179E6CD3894D0375F031AF49FF9FF3EAADD46B0BF3920D808DB576824D5F40911682049B7A4CC611CBEB8CED75FCE2B1E74CC4104969B43D26E3E9B38B9E3FD36CC7E1C5630F9AC89E5532415AA84333F3AADD1896D06B4BE571A810120180175841BC16BD6C0823B5DBCCB1E8B1C3569EE0A77EF1993326D2132225D18F9A367F7ECC2A348CB32FE242A4A7C916A383BD7C2F0058620A6CAADC4B2304C2A01973F0F55FC18BE5B6FC92E970E4B1C3975FECEAEA3AF6E265DC2EE465521267252EBC7CBCABEBA2B5F015D3E1D5D7B02C0DF69A3A47030042B4CABDD60310D2A681429B6B30C16650C4B9E178FD528F69F37C9D256671F9709F99E38D974849FADF78D31173165E7ECBD9AD57DF18200C7FB1D794C9D39A35D0DA0402B0BEF2FE0582AE872041EBF06D4AC1CB9924065EBB72C944DE7EE7DD77DF7DA7EF6967B3FAC9E8BC6722B8D0E2FDDCC22B1F0C0C2DF3E86595C3E500215D14A0F2FEB5192028131286D482E9F8DDF9102F44903FDC836E057ADEFB6880FC11FDEF396A0E7B8E0A1D322125BC6A1B214C881C04A87C40B48FF206C49BEEB2FFBF0014710ABD432075AEE9E4EE3D3647FF2208840B39259C3E79740F72FAC373A1216372C360AFFB3F06836019F362EE5DC99A0DA874E11496603E9A431F69364264E20E4144C87074EAC0D2FB963906B6FA9558362AE41300F6D9834197B389632A7A21C4159F9232A005165E37F986A506B08F01E0130F8E95D83188D6491BF1714AC1CB4F78C9B2F252FEE53CE2BB6EF2F44643C3AE0C5E1C2CB760201A9FD165F8C8B7E0B584F0C236FC83F21EE939247DD74DF12D330C0CC32D133C603D06A22A523A1FBD96150A222F9FD513D25FD6E3DE3C9FFBA64E5B48DB550CC3F55E787D8181280A942EAD615E0B0A0591936CBA4CAF2CCDF3A56FEAA4E5342962187EE185571F06A2481AE88A1B2CAFDB1B0B0591930ECB6BE075C243C932BFFDAEA9F7AFA07E11C3B06F82478128129934D0269660B575AE0BE2CE72BD68817D336EF0E12B70D1A330C49123821F1E76B0494B5D17C474BA850C5CA9A81C765E9831A9197F6204870D4FE805903189EB6EB366B466EA20132EE4749A92818FCA7A3BEFF0D586E977D5B10891A170A6F460F60DA2171B116F9B435D16C47AC7AB8272A8CDB8DD7EDD1EC499D71B7600B4D95743D619ACC6D7E4B22052DB6BA092B211F3CD9C8F67F436BC63F3882701046C924B6F2B2EF42DDC5E02E92FC3AB853AA4C0E75BCA3E481D9CAB288F5A988A5E8DB74F9E7CD723AE0A077AED44AFF2CB46B7E5B5827961F3F28E2DA091567CC83E75F2F4E52E0BC74EC7ABFCB2A1808F857F96B4F1CF50DCB7013855DF585C10B3BC5E94BC8E5EE5968D045C68C62F7FB17979C7D700221E861EB96BF2B439D45DE1589B4E67D1ABECB2D109896616254B429E86211E568238AD2DF3DD52E3A37938DB725A26AF5FF994202D1D7ED765E32BD0E6B0E7300103A06F82970048C46F07221644FEC2D1B0D3F2220502E9F4DA7A9787140DBE62DD4B271A36658FBD303096DF35F9FE05FC9D596656E895276DD1C1E125D33C0029965E325E1C7A4A2F44EC4FF063DFD4DA3AEE0413A4F4885E6A9BE022BD540015CF0FDE7BE1B52F91DB01B6DD3009BDB83AF3CAEE34F2697FFF07030303FDE8C5D02417E9A58085DAD07AD5BCF430C0D6DBEF412F9E0413219E46E40FAE7CF4D147AF0FE4BDD6682EBA720C2CC23A3E18FBD85BAF27D984481408ABF37CC55EF21F78A56D3AC880B5639FE6A6E05447728DC29F5E9D10266A18D80ABC89F2924F0008215A5824641BC6215767169CFDFACC5FD4CD2821816890FF0EC060B91D0A6B57CF4BB1B4C8DEDA2F296F8269DFA41A8252BB55DA03F96131C5FE34EA22BD32C03E84E055D9AF5D003A212162F1F98C18E54D305D0991D04AD0F2622DE9741B284416F8BB570A4FB5440EE21DC0D7DE7A6D0610498E17204EB93B98C0EC544B8CDDB50584743A2849BAABE1D0C0CC4254BC03F0923E0083E48880425D8E8821236D6D19EBD182EBE110C310C12F1C3CA6175616AA5C8216205CA8DFD8F5A3C3E599D20943440EE3A1D2EB045309221B00DDBC0996C7F8B64D338480FB1BECAF202CE5C454CFD30B6F47514C30C042E3ACF4C5C8F58172CE5ED89423026A793CF522EBB680432F40923AE8E46AA0179A32ECCAFFE42DEB2678CFD760B369F384DEE2400C10EF69A50E8A95527D9F00E27D14223BD66FDAB47ED73AECD231DE510AA9E046348107E41DBBD8CFDE31E12AB303A093BFD257F2458A8A2935663C59DCC25A090FB22A4941D96D958F7A3B38715C28265D5FD38BA2EB304CE1EDEE18D20B067720561086116CC46306560EFE402CFF023B81F3E018B2630B747B5211E5D1C2B07B4CAB06B21E62A3B6665DCEA795A4681602414449D322C1A21541B9F4CC1BE3E858DE97FA78E9D6AC2B868468617088C8849DC56C5646545126441055A3ADE4CD461CB76B8CD904D1516644590C46B41C12D20661430345D5D96BA390658C1821B1F46C181DFBEDC29366DCD51761BAAA28829BAA81DB55DD0D938977C8F9EDC211AA1A1BD6ED6AC35C9E9455E70EB49A25D14FBCC24F6D9209E77557154AE257DECF1C3AB5D1F06AB72A7C5234D62FF134BB7090EF9B502D7A2193CF30BE614A144535484AD3DA52E52874A62983EB225134340B00C86846BC9EE35E2353B52874CE2BDD5CA5A35577F6B5C1CF513414AC85556417409CEB02A7B55E6756D9004FD13030B9AACA7A4838B523EBD5B9AB1B2F9EC68F98ECCD6D4D5EABFA629E74E7805D0BE3789F36AEC45A2A10734A4B67627C68611B4BA814D15B2B9D0BBBC7C76E219B00A0BB3231A76644001BD778F14A2440A94CAC3EFFA2E19371E415ED8C41265981988CC3530632E3C9EB13009ACA40A6B36C31D4C2CF66BC79D1A402F0559962A8D58DB13C8EBCBEDB05402DD4044493E588657315A39BA2D7F7E3C4EB87F351B05B4F061271D77D0CB5E21988611803FCF5C7F121F6B669F628D4C6008824DD89B536D8EB14BBECC039D3FC695C44E1B3A625F61A6560EEC7B047CB2EA68C54061B3B72D4B4F8791C783D6F325E7E9DDA24236017C62C5792F95B682A827969F386C9F8F1BBEA6FD78FA68D23463B3580AFB8AA07A6D65709487C450B5AC8F355F7FAD974D8436DF0578D76722499955AA9689155F69299E3C7AA7B3D6BE679833AA4A276FD90478F413DC9423095D77AD3CCF34BF58B619158963AA8316B1F92B4619458AC67FB8A116BF35A8F59E0D7EA6A3D845523CF9B7931AC1FB1AF4AC76240EFCEE0A63AF4BF6C16F1E36FFFF77B959CDEFAC7DFFF39EB88594A8CA634CB4C2DB165F5ED3100ED3FBDDC3594DC581606E0401E9D5373862A50D2D9D26F99F264B00D89315B06CDF2D6A6CECFA6FD769D393F67A916DCC3CBCCC96097AFCBA26EA95BF275911997F5A4AA52BF12F5E09707FDFBC2BB324D5B507A71552808C0B1A50B1FFA6033EDDED7EB03D049A8E44336238F0859B313CF14D760727225FF5DD172EE5B62C145DBD10C0047DD233FFB60325D583A8684EEF944EB62D1EACBCBDB7C2259205FFBEC5FD4663CF58524D5B3DB539DFE8D58B44109DB6921D1E92DED7E9FEB74A48744DB0348BA288ACE2DA7F2D72C29CD77BE9EFFCEAFFC8F133F939E91EAC650FD98523A1C476BC96CEE859FBD5FA10EC9DED3BC20249AE6DA14255E794649F6CDCF7E25FD2F62A524A46CCD7CAEA45F88125BEE9E2C974F44516CB6654FEEFBD9FB134AF70292E6B92E8932AB72C894A27D3699B4CCB3FF9047567D0F4A9BDCCB7349616CB6DEEB68BB97FA801687945072D18A2875EE8913CBAAAF7F35B5BCE0C9DF3D2F4AD91CA8B9A4C86903C7DEA3681FDAA78652725D16E5BEF7BBC3A73FB75CEFC4E9274E9E5B15A5DEE2925C79B423EFFE955A02DA4E480BDAB049EA7545B9D51793FBEF99D34F56657AF289C3270FBCFC8AA8708939A684819016D9A681CE910FBDAB542EA0075434FB750CD64595EFFD3C3B6E0F973890528AA5187022EF8B02AF85CED23B4E76FE18D0F289EA72D96F882AABF5FFC4FC77B25895E54A0CD55C2AC700DC9FBDA3B97281564CE534C424312BABBE3065D5B15E12D5DE62C9ADCB45A16700FBDE7EAC7D1D3595CA8337CDC5035143FEBF5D657EF1BCA8D6A5592E1F7AC0811D0D4B939940FFFCDBDCEC3DC0A47243D70EB42C57C8CCD415359E3F5792EAC5EF893AEB9CB2D35C9C1AF91115456DE0D087DE4EB1002DA232913FE684099D122E27D645ADE717C7ECE5FA547269CC72C5D0782E9814CB16B7D0D971C9CE1F856E97152AF263CE98685362C2D2403425FB7973ADD42E947AB2DD4DDE2E888A1361A0B7B3FDB104C329AB54C03907A084CD92DD150D567F33DD207F784534B93C0F4164C2E205BD9054511FD849C97ED6413BA4057B7A312B903E983EA7AE8866AF9C7BF11779A96A77619E4B87C305235BEDC70038BA835CC700B4D5FEB3C7BCE8A1F4010B38B32E1A9DB97AEDFA0DD1A86BF34C4CD45273E5C928E723B1D4FCD908CB6EC1DA562A7BC4450F40F6EA3CEF5BA2C1CD6BB712D76F8B0677384704F85C2AB6F75026346045E8348DD8873A4648B6917F1EF85C4A4B9F019EA9393BA4BBD76F65AE5D6D1CAEDCD0861170157F4892256BE0E15843AE4388D3DAEA24B90157B0A0E7B912776A5BF056EEFA5D516D8BB77303E8C509506B1665CBA0850BF52B7E1AC882AFA42AF0002297A5A6DD71E3DE2D4575C9D658E1CA355FAB3734B3CEF2D1A97D9F8F22222982B527E03A40A8E4E2CB3593A5BADFAD8865B3C2B6E071BDD86853CAC2A1DAA7CBA38C0EAEF7207C527F8E2D51E2F6F55B05FFDC385BF320E76C1D63AE67229EAF8FDD354BA3455371530BB4E12CE4E2355170F65FB78AAEAF6DAC94C4BA53E832A0C7F53423A44C50B33A5C993E13A1CFB53458E4B3A27877AC6C7CFB56D155D11DFCF8F5C658ECC1B0B9DE431AD174E3EB9557C7CFA0CF0E41A2F6AEA60E68532F48C43C77470DF6FA6B3FEE8A7BB70A6E0BF1FACAA02B1457D20A390F69E678E2BA61D633BADD340D310D473D92ECCA821D4240A9200EC97C886B394028CFFBC033751DF05C7712ABC15E1FACC86D58522EE9EC4019B24D96623786A46B9EE34716BC80EBC196C3302149AB28D8CFD0A2548F39A0F881C6C5D16E61CA08889258CAD77377FA83DF5FDC1AB3D872C8945852CF6E21E7C55CCFA061CC1C87D9AEEF552CC398A48813135FE77ABB203DF49001E8110D0396F260793DFEADC4BA7726AFE77CC82EF2DCD8D500CBD2DA0F01E0069E9EEDAEF174C24AAFA97EB65B8631274621B89ED9374D662789E711B923564FE03736E62D79E69A52AE3379A3AE0D5E2F9E1971E400A62D5BDDE406A6398C59B22911979EBF47609114702A6AF30E780FA26567DF614AB0F5AD5929947A49FF16B995C1592556DE8BED49C0CD4C67C299B42446A7F4FBC49F75A1E45BDCAC0F5821ED192FBECF9BBCA9C452DC10B937EEAC89355E349E68303C6ED6F7C79C092861E248D5D618CE1A2A76B8D92E59633766D5C53BCC41777646159F65E52BD2DEB2B9C0B56138DC4CB3796652B1EAF7C1CCBFECA53137731E46240752A17C91DDBE55B4EDA2FF0F97094887C53BD0CF7FC811255AC5CDD147942D8D998077C082A64C57EE92485D2FBD376656B894EBE021DE098773B66CC4D9F5FB7F89D874223B7F58EA0000000049454E44AE426082) FOR [avatar]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Professors_Administrator]') AND parent_object_id = OBJECT_ID(N'[dbo].[Professors]'))
ALTER TABLE [dbo].[Professors]  WITH CHECK ADD  CONSTRAINT [FK_Professors_Administrator] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Administrator] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Professors_Administrator]') AND parent_object_id = OBJECT_ID(N'[dbo].[Professors]'))
ALTER TABLE [dbo].[Professors] CHECK CONSTRAINT [FK_Professors_Administrator]
GO
